# ==================================================
# VARIABLES DE ENTORNO Y SECRETOS
# ==================================================

.env
.env.*
!.env.example

*.pem
*.key
credentials.json
secrets.json


# ==================================================
# PYTHON
# ==================================================

__pycache__/
*.py[cod]
*$py.class

*.so

# Entornos virtuales
venv/
.venv/
env/
ENV/

# Packaging
build/
dist/
*.egg-info/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Type checking / linting
.mypy_cache/
.ruff_cache/


# ==================================================
# LOGS
# ==================================================

*.log
logs/


# ==================================================
# ARCHIVOS TEMPORALES
# ==================================================

tmp/
temp/
cache/
*.tmp


# ==================================================
# BASES DE DATOS
# ==================================================

*.db
*.sqlite
*.sqlite3


# ==================================================
# BASES VECTORIALES / RAG
# ==================================================

chroma/
chroma_db/
chroma_manuales/
vector_db/
vectorstore/

*.faiss
*.index
*.pkl


# ==================================================
# MODELOS DE IA
# ==================================================

models/
*.pt
*.pth
*.bin
*.onnx


# ==================================================
# RESULTADOS GENERADOS
# ==================================================

outputs/
output/
generated_reports/
generated_diagnostics/


# ==================================================
# DATASETS GRANDES
# ==================================================

data/raw/
datasets/


# ==================================================
# Folders
# ==================================================

Manuales


# ==================================================
# VISUAL STUDIO CODE
# ==================================================

.vscode/*
!.vscode/settings.json
!.vscode/extensions.json


# ==================================================
# JUPYTER
# ==================================================

.ipynb_checkpoints/


# ==================================================
# SISTEMA OPERATIVO
# ==================================================

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini


# ==================================================
# ARCHIVOS COMPRIMIDOS
# ==================================================

*.zip
*.rar
*.7z